*, body  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.hero, .footer {
    padding: 20px 200px;
    background-color: #1f2937;
    color: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header .logo, .hero-main-text, button {
    font-weight: 900;
    color: #f9faf8;
}

.header .logo {
    font-size: 24px;
}

.nav-links {
    display: flex;
}

.hero-secondary-text, .nav-links li {
    font-size: 18px;
    color: #e5e7eb;
}

.nav-links li {
    list-style: none;
    margin-left: 16px;
}

.hero-main {
    margin: 100px 0;
    display: flex;
    gap: 16px;
}

.hero-main-left {
    margin-right: 8px;
}

.hero-main-text {
    font-size: 48px;
}

button {
    background-color: #3882f6;
    border: none;
    padding: 8px 24px;
    border-radius: 8px;
    margin-top: 8px;
}

.information-section {
    padding: 20px 250px;
    margin: 70px 0;
}

.information-header {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 50px;
}

.illustrations {
    display: flex;
    justify-content: space-evenly;
}

.illustration-box {
    width: 150px;
}

.illustration-image {
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 12px;
}

.box-subtext {
    text-align: center;
    margin-top: 8px;
}

.quote-section {
    background-color: #e5e7eb;
    padding: 80px 300px;
}

.quote-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
}

.author {
    text-align: right;
    font-weight: 900;
    font-size: 18px;
}

.call-to-action {  
    padding: 20px 200px;
    margin: 50px 0;
}

.border {
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 30px 100px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

.call-heading {
    font-size: 18px;
    font-weight: 900;
}

.border button {
    border: 3px solid #e5e7eb;
    padding: 8px 24px;
    border-radius: 8px;
    margin-top: 8px;
}

.footer {
    text-align: center;
    padding: 25px 0;
}